<% if (allrecs.length > 0) {%>
<table class="allData">
    <!-- add table header -->
    <tr class="thr">
      <th class="leftPadTable tableCell">ID</th>
      <th class="tableCell">Customer ID</th>
      <th class="tableCell">Product ID</th>
      <th class="tableCell">Date</th>
      <th class="tableCell">Rating</th>
      <th class="tableCell">Status</th>
      <th class="tableCell">Details</th>
      <th class="tableCell">Edit</th>
      <th class="tableCell">Delete</th>
    </tr>
    
  <% allrecs.forEach((recref, index) => { %>
  <tr>
    <td class="leftPadTable tableCell"><%= recref.review_id %></td>
    <td class="tableCell"><%= recref.customer_id %></td>
    <td class="tableCell"><%= recref.product_id %></td>
    <td class="tableCell"><%= recref.reviewdate.toLocaleDateString() %></td>
    <td class="tableCell"><%= recref.rating %></td>
    <td class="tableCell"><%= recref.status %></td>
    <td class="tableCell"><a href="/review/<%= recref.review_id %>/show"> Details</a></td>
    <td class="tableCell">
      <a href="/review/<%= recref.review_id %>/edit">Edit</a>
    </td>
    <td class="tableCell">
      <a href="/review/<%= recref.review_id %>/delete"onclick="return confirm('Are you sure you want to delete this record?');">Delete</a>
    </td>
  </tr>
  <% }); %>
</table>
<% } else { %>
<p>No Records Available</p>
<% } %>
<br>
<br>
<p><a href="/review/addrecord">Add New</a></p>
