<% if (allrecs.length > 0) {%>
<table>
    <!-- add table header -->
    <tr>
      <th>ID</th>
      <th>Customer ID</th>
      <th>Product ID</th>
      <th>Date</th>
      <th>Rating</th>
      <th>Details</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    
  <% allrecs.forEach((recref, index) => { %>
  <tr>
    <td><%= recref.review_id %></td>
    <td><%= recref.customer_id %></td>
    <td><%= recref.product_id %></td>
    <td><%= recref.reviewdate %></td>
    <td><%= recref.rating %></td>
    <td><%= recref.status %></td>
    <td><a href="/review/<%= recref.review_id %>/show"> Details</a></td>
    <td>
      <a href="/review/<%= recref.review_id %>/edit">Edit</a>
    </td>
    <td>
      <a href="/review/<%= recref.review_id %>/delete"onclick="return confirm('Are you sure you want to delete this record?');">Delete</a>
    </td>
  </tr>
  <% }); %>
</table>
<% } else { %>
<p>No Records Available</p>
<% } %>
<br>
<br>
<p><a href="/review/addrecord">Add New</a></p>
