<h1>Edit Review</h1>
<form action="/review/save" method="post">
  <input type="hidden" name="review_id" value="<%= onerec.review_id %>" />
  <table>
    <tr>
      <td>Customer ID:</td>
      <td>
        <input type="text" name="customer_id" value="<%= onerec.customer_id %>" required />
      </td>
    </tr>
    <tr>
      <td>Product ID:</td>
      <td>
        <input type="text" name="product_id" value="<%= onerec.product_id %>" required />
      </td>
    </tr>
    <tr>
      <td>Review Date:</td>
      <td>
        <input type="date" name="reviewdate" value="<%= onerec.reviewdate %>"
        required>
      </td>
    </tr>
    <tr>
      <td>Comments:</td>
      <td>
        <textarea name="comments" rows="10" cols="30" placeholder="comments">
<%= onerec.comments %></textarea>
      </td>
    </tr>
    <tr>
      <td>Rating:</td>
      <td>
        <input type="text" name="rating" value="<%= onerec.rating %>"
        required>
      </td>
    </tr>
    <tr>
      <td>Status:</td>
      <td>
        <input type="text" name="status" value="<%= onerec.status %>" required />
      </td>
    </tr>
  </table>
  <button type="submit">Save</button>
</form>