<% var totprice=0 %>
    <% var totqty=0 %>
        <% var lineitemcost=0 %>
            <% if (cartitems !='0' ) {%>
                <p class="cart-header"> Products in your cart: </p>
                <table border=1>
                    <tr>
                        <th>Product Name</th>
                        <th>Image</th>
                        <th>Supplier</th>
                        <th>Category</th>
                        <th>Dimensions</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Line Cost</th>
                        <th>Action</th>
                    </tr>
                    <% cartitems.forEach((item, index)=> { %>
                        <tr>
                            <td>
                                <%= item.productname %>
                            </td>
                            <td>
                                <%= item.prodimage %>
                            </td>
                            <td>
                                <% for (var i=0; i < supplier.length; i++) { %>
                                    <% if (supplier[i].supplier_id==item.supplier_id) { %>
                                            <%=supplier[i].suppliername %>
                                        <% } }%>
                            </td>
                            <td>
                                <% for (var i=0; i < category.length; i++) { %>
                                    <% if (category[i].category_id==item.category_id) { %>
                                            <%=category[i].categoryname %>
                                        <% } } %>
                            </td>
                            <td>
                                <%= item.dimensions %>
                            </td>
                            <td>
                                <%= item.prodprice %>
                            </td>
                            <% totqty=totqty + parseInt(qtys[index]) %>
                                <% lineitemcost=item.prodprice * parseInt(qtys[index]) %>
                                    <td>
                                        <%= qtys[index] %>
                                    </td>
                                    <td>
                                        <%= lineitemcost %>
                                    </td>
                                    <% totprice=totprice + lineitemcost %>
                                        <td>
                                            <form action="/catalog/remove" method="post">
                                                <input type="hidden" name="product_id" value=<%=item.product_id %> >
                                                <button type="submit">Remove</button>
                                            </form>
                                        </td>
                        </tr>
                        <% }); %>
                            <tr bgcolor="yellow">
                                <td colspan="6"><b>Totals</b></td>
                                <td>
                                    <%= totqty %>
                                </td>
                                <td>
                                    <%= totprice %>
                                </td>
                                <td><button class='button1'
                                        onclick="window.location.href='/catalog/checkout'">Checkout</button></td>
                            </tr>
                </table>
                <% } else { %>
                    <p class="empty">Cart Is Empty</p>
                    <% } %>