<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="banner-container">
    <img class="homepage-banner" src="/images/homepage-banner2.jpg" alt="Banner Image" />
    <h1 class="banner-text">Power Your Future Today</h1>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-evenly">
      <div class="col-auto mb-4 sub-banner align-items-center">
        <p class="mt-2">
          We are here to help you with all your solar needs.
        </p>
      </div>
        <div class="col-9 align-self-start mt-4 mb-4">
          <table>
            <tr>
              <td>
                <% if (allrecs.length> 0) {%>
                  <% allrecs.forEach((recref, index)=> { %>
                    <product>
                      <table>
                        <tr>
                          <td>
                            <%= recref.productname %>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <%= recref.prodimage %>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <%= recref.category_id %>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <%= recref.supplier_id %>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <%= recref.prodprice %>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <%= recref.status %>
                          </td>
                        </tr>
                        <tr>
                          <td><a href='/product/<%= recref.product_id %>/show'>Details</a></td>
                        </tr>
                      </table>
                    </product>
                    <% }); %>
                      <% } %>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-3 float-end align-content-start justify-content-end d-flex">
          <table class="justify-content-center">
            <tr>
              <td>
                <% if (promos.length> 0) {%>
                  <table>
                    <% promos.forEach((recref, index)=> { %>
                      <tr>
                        <td>
                          <img class="promoImage" src="/images/<%= recref.promoimage %>" alt="">
                        </td>
                      </tr>
                      <% }); %>
                  </table>
                  <% } %>
              </td>
            </tr>
          </table>
        </div>
      </div>
  </div>
</body>

</html>