<% if (allrecs.length > 0) {%>
<table class="allData">
    <!-- add table header -->
    <tr class="thr">
      <th class="leftPadTable tableCell">Transaction ID</th>
      <th class="tableCell">Order ID</th>
      <th class="tableCell">Product ID</th>
      <th class="tableCell">Product Name</th>
      <th class="tableCell">Sale Price</th>
      <th class="tableCell">Quantity</th>
      <th class="tableCell">Details</th>
      <th class="tableCell">Edit</th>
      <th class="tableCell">Delete</th>
    </tr>
    
  <% allrecs.forEach((recref, index) => { %>
  <tr>
    <td class="leftPadTable tableCell"><%= recref.transaction_id %></td>
    <td class="tableCell"><%= recref.order_id %></td>
    <td class="tableCell"><%= recref.product_id %></td>
    <% for (var i=0; i < product.length; i++) { %>
      <% if (product[i].product_id==recref.product_id) { %>
        <td class="tableCell">
          <%=product[i].productname %>
        </td>
        <% } }%>
    <td class="tableCell"><%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(recref.saleprice) %></td>
    <td class="tableCell"><%= recref.qty %></td>
    <td class="tableCell"><a href="/transaction/<%= recref.transaction_id %>/show"> Details</a></td>
    <td class="tableCell">
      <a href="/transaction/<%= recref.transaction_id %>/edit">Edit</a>
    </td>
    <td class="tableCell">
      <a href="/transaction/<%= recref.transaction_id %>/delete"onclick="return confirm('Are you sure you want to delete this record?');">Delete</a>
    </td>
  </tr>
  <% }); %>
</table>
<% } else { %>
<p>No Records Available</p>
<% } %>
<br>
<br>
<p><a href="/transaction/addrecord">Add New</a></p>
