<h1> Details </h1>
    <table>
        <tr> <td> Transaction ID: </td> <td> <%= onerec.transaction_id %> </td> </tr>
        <tr> <td> Order ID: </td> <td> <%= onerec.order_id %> </td> </tr>
        <tr> <td> Product ID: </td> <td> <%= onerec.product_id %> </td> </tr>
        <tr> <td> Sale Price: </td> <td> <%= onerec.saleprice %> </td> </tr>
        <tr> <td> Quantity: </td> <td> <%= onerec.qty %> </td> </tr>
    </table>