<h1>Edit Product</h1>
<form action="/product/save" method="post">
  <input type="hidden" name="product_id" value="<%= onerec.product_id %>" />
  <table>
    <tr>
      <td>Product Name:</td>
      <td>
        <input type="text" name="productname" value="<%= onerec.productname %>" required />
      </td>
    </tr>
    <tr>
      <td>Image:</td>
      <td>
        <input type="text" name="prodimage" value="<%= onerec.prodimage %>" required />
      </td>
    </tr>
    <tr>
      <td>Description:</td>
      <td>
        <textarea name="description" rows="10" cols="30" placeholder="Description">
<%= onerec.description %></textarea>
      </td>
    </tr>
    <tr>
      <td>Category ID:</td>
      <td>
        <input type="number" name="category_id" value="<%= onerec.category_id %>" required>
      </td>
    </tr>
    <tr>
      <td>Supplier ID:</td>
      <td>
        <input type="number" name="supplier_id" value="<%= onerec.supplier_id %>" required>
      </td>
    </tr>
    <tr>
      <td>Dimensions:</td>
      <td>
        <input type="text" name="dimensions" value="<%= onerec.dimensions %>" required />
      </td>
    </tr>
    <tr>
      <td>Wattage:</td>
      <td>
        <input type="text" name="wattage" value="<%= onerec.wattage %>" required />
      </td>
    </tr>
    <tr>
      <td>Cell Efficiency:</td>
      <td>
        <input type="text" name="cell_efficiency" value="<%= onerec.cell_efficiency %>" required />
      </td>
    </tr>
    <tr>
      <td>Weight:</td>
      <td>
        <input type="text" name="weight" value="<%= onerec.weight %>" required />
      </td>
    </tr>
    <tr>
      <td>Power Tolerance:</td>
      <td>
        <input type="text" name="power_tolerance" value="<%= onerec.power_tolerance %>" required />
      </td>
    </tr>
    <tr>
      <td>Price:</td>
      <td>
        <input type="text" name="prodprice" value="<%= onerec.prodprice %>" required>
      </td>
    </tr>
    <tr>
      <td>Status:</td>
      <td>
        <select name="status" required>
          <option selected>
            <%= onerec.status %>
          </option>
          <option>Available</option>
          <option>Discontinued</option>
          <option>Future Plan</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Quantity:</td>
      <td>
        <input type="text" name="quantity" value="<%= onerec.quantity %>" required />
      </td>
    </tr>
    <tr>
      <td>
        Homepage:
      </td>
      <td>
        <!-- check if the homepage value is 1, if it is then use checked property for checkbox -->
        <% if (onerec.homepage) { %> 
          <input type="checkbox" name="homepage" value="onerec.homepage" checked />
        <% } else { %> 
          <input type="checkbox" name="homepage" value="onerec.homepage" />
        <% } %> 
      </td>
    </tr>
  </table>
  <button type="submit">Save</button>
</form>