<h1> Details </h1>
    <table>
        <tr> <td> Product ID: </td> <td> <%= onerec.product_id %> </td> </tr>
        <tr> <td> Product Name: </td> <td> <%= onerec.productname %> </td> </tr>
        <tr> <td> Image: </td> <td> <%= onerec.prodimage %> </td> </tr>
        <tr> <td> Description: </td> <td> <%= onerec.description %> </td> </tr>
        <tr> <td> Supplier ID: </td> <td> <%= onerec.supplier_id %> </td> </tr>
        <tr> <td> Category ID: </td> <td> <%= onerec.category_id %> </td> </tr>
        <tr> <td> Sub Category 1: </td> <td> <%= onerec.subcategory_1 %> </td>
        </tr>
        <tr> <td> Sub Category 2: </td> <td> <%= onerec.subcategory_2 %> </td>
        </tr>
        <tr> <td> Dimensions: </td> <td> <%= onerec.dimensions %> </td> </tr>
        <tr> <td> Price: </td> <td> <%= onerec.prodprice %> </td> </tr>
        <tr> <td> Status: </td> <td> <%= onerec.status %> </td> </tr>
    </table>