<h1> Details </h1>
<table>
    <tr>
        <td> Product ID: </td>
        <td>
            <%= onerec.product_id %>
        </td>
    </tr>
    <tr>
        <td> Product Name: </td>
        <td>
            <%= onerec.productname %>
        </td>
    </tr>
    <tr>
        <td> Image: </td>
        <td>
            <%= onerec.prodimage %>
        </td>
    </tr>
    <tr>
        <td> Description: </td>
        <td>
            <%= onerec.description %>
        </td>
    </tr>
    <tr>
        <td> Category ID: </td>
        <td>
            <% for (var i=0; i < category.length; i++) { %>
                <% if (category[i].category_id==onerec.category_id) { %>
                    <%=category[i].categoryname %>
            <% } }%>
        </td>
    </tr>
    <tr>
        <td> Supplier ID: </td>
        <td>
            <% for (var i=0; i < supplier.length; i++) { %>
                <% if (supplier[i].supplier_id==onerec.supplier_id) { %>
                    <%=supplier[i].suppliername %>
                        <% } }%>
        </td>
    </tr>
    <tr>
        <td> Wattage: </td>
        <td>
            <%= onerec.wattage %>
        </td>
    </tr>
    <tr>
        <td> Cell Efficiency: </td>
        <td>
            <%= onerec.cell_efficiency %>
        </td>
    </tr>
    <tr>
        <td> Weight: </td>
        <td>
            <%= onerec.weight %> Lbs
        </td>
    </tr>
    <tr>
        <td> Dimensions: </td>
        <td>
            <%= onerec.dimensions %>
        </td>
    </tr>
    <tr>
        <td> Price: </td>
        <td>
            <%= Intl.NumberFormat('en-US', { style: 'currency' , currency: 'USD' }).format(onerec.prodprice) %>
        </td>
    </tr>
    <tr>
        <td> Quantity: </td>
        <td>
            <%= onerec.quantity %>
        </td>
    </tr>
    <tr>
        <td> Status: </td>
        <td>
            <%= onerec.status %>
        </td>
    </tr>
    <tr>
        <td> Homepage: </td>
        <td>
            <%= onerec.homepage %>
        </td>
    </tr>
    <tr>
        <td> Add to Cart: </td>
        <td>
            <form action="../add" method="post">
                <input type="hidden" name="product_id" value=<%=onerec.product_id %> >
                <input class="inpQty" type="number" name="qty" required>
                <button type="submit">Add to Cart</button>
            </form>
        </td>
    </tr>
</table>
<form action="../../">
    <button>Back</button>
</form>