<% if (allrecs.length > 0) {%>
<table>
    <!-- add table header -->
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Point of Contact</th>
      <th>Weburl</th>
      <th>Supplier Notes</th>
      <th>Details</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    
  <% allrecs.forEach((recref, index) => { %>
  <tr>
    <td><%= recref.supplier_id %></td>
    <td><%= recref.suppliername %></td>
    <td><%= recref.pointofcontact %></td>
    <td><%= recref.weburl %></td>
    <td><%= recref.suppliernotes %></td>
    <td><a href="/supplier/<%= recref.supplier_id %>/show"> Details</a></td>
    <td>
      <a href="/supplier/<%= recref.supplier_id %>/edit">Edit</a>
    </td>
    <td>
      <a href="/supplier/<%= recref.supplier_id %>/delete"onclick="return confirm('Are you sure you want to delete this record?');">Delete</a>
    </td>
  </tr>
  <% }); %>
</table>
<% } else { %>
<p>No Records Available</p>
<% } %>
<br>
<br>
<p><a href="/supplier/addrecord">Add New</a></p>
