<h1> Details </h1>
    <table>
        <tr> <td> Supplier ID: </td> <td> <%= onerec.supplier_id %> </td> </tr>
        <tr> <td> Supplier Name: </td> <td> <%= onerec.suppliername %> </td> </tr>
        <tr> <td> Point of Contact: </td> <td> <%= onerec.pointofcontact %> </td> </tr>
        <tr> <td> Web URL: </td> <td> <%= onerec.weburl %> </td> </tr>
        <tr> <td> Supplier Notes: </td> <td> <%= onerec.suppliernotes %> </td> </tr>
    </table>