<% if (allrecs.length > 0) {%>
<table>
    <!-- add table header -->
    <tr>
      <th>Order ID</th>
      <th>Customer ID</th>
      <th>Sale Date</th>
      <th>Customer Notes</th>
      <th>Payment Status</th>
      <th>Authorization Number</th>
      <th>Details</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    
  <% allrecs.forEach((recref, index) => { %>
  <tr>
    <td><%= recref.order_id %></td>
    <td><%= recref.customer_id %></td>
    <td><%= recref.saledate %></td>
    <td><%= recref.customernotes %></td>
    <td><%= recref.paymentstatus %></td>
    <td><%= recref.authorizationnum %></td>
    <td><a href="/saleorder/<%= recref.order_id %>/show"> Details</a></td>
    <td>
      <a href="/saleorder/<%= recref.order_id %>/edit">Edit</a>
    </td>
    <td>
      <a href="/saleorder/<%= recref.order_id %>/delete"onclick="return confirm('Are you sure you want to delete this record?');">Delete</a>
    </td>
  </tr>
  <% }); %>
</table>
<% } else { %>
<p>No Records Available</p>
<% } %>
<br>
<br>
<p><a href="/saleorder/addrecord">Add New</a></p>
