<% if (allrecs.length > 0) {%>
<table>
    <!-- add table header -->
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Address Line 1</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Username</th>
      <th>Details</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    
  <% allrecs.forEach((recref, index) => { %>
  <tr>
    <td><%= recref.customer_id %></td>
    <td><%= recref.firstname %></td>
    <td><%= recref.lastname %></td>
    <td><%= recref.email %></td>
    <td><%= recref.address1 %></td>
    <td><%= recref.city %></td>
    <td><%= recref.state %></td>
    <td><%= recref.zip %></td>
    <td><%= recref.username %></td>
    <td><a href="/customer/<%= recref.customer_id %>/show"> Details</a></td>
    <td>
      <a href="/customer/<%= recref.customer_id %>/edit">Edit</a>
    </td>
    <td>
      <a href="/customer/<%= recref.customer_id %>/delete"onclick="return confirm('Are you sure you want to delete this record?');">Delete</a>
    </td>
  </tr>
  <% }); %>
</table>
<% } else { %>
<p>No Records Available</p>
<% } %>
<br>
<br>
<p><a href="/customer/addrecord">Add New</a></p>
