<% if (allrecs.length > 0) {%>
<table class="allData">
    <!-- add table header -->
    <tr class="thr">
      <th class="leftPadTable tableCell">ID</th>
      <th class="tableCell">First Name</th>
      <th class="tableCell">Last Name</th>
      <th class="tableCell">Email</th>
      <th class="tableCell">Address Line 1</th>
      <th class="tableCell">City</th>
      <th class="tableCell">State</th>
      <th class="tableCell">Zip</th>
      <th class="tableCell">Username</th>
      <th class="tableCell">IsAdmin</th>
      <th class="tableCell">Details</th>
      <th class="tableCell">Edit</th>
      <th class="tableCell">Delete</th>
    </tr>
    
  <% allrecs.forEach((recref, index) => { %>
  <tr>
    <td class="leftPadTable tableCell"><%= recref.customer_id %></td>
    <td class="tableCell"><%= recref.firstname %></td>
    <td class="tableCell"><%= recref.lastname %></td>
    <td class="tableCell"><%= recref.email %></td>
    <td class="tableCell"><%= recref.address1 %></td>
    <td class="tableCell"><%= recref.city %></td>
    <td class="tableCell"><%= recref.state %></td>
    <td class="tableCell"><%= recref.zip %></td>
    <td class="tableCell"><%= recref.username %></td>
    <% if (recref.isadmin) {%>
    <td class="tableCell">True</td>
    <% } else { %>
      <td class="tableCell">False</td>
      <% } %>
    <td class="tableCell"><a href="/customer/<%= recref.customer_id %>/show"> Details</a></td>
    <td class="tableCell">
      <a href="/customer/<%= recref.customer_id %>/edit">Edit</a>
    </td>
    <td class="tableCell">
      <a href="/customer/<%= recref.customer_id %>/delete"onclick="return confirm('Are you sure you want to delete this record?');">Delete</a>
    </td>
  </tr>
  <% }); %>
</table>
<% } else { %>
<p>No Records Available</p>
<% } %>
<br>
<br>
<p><a href="/customer/addrecord">Add New</a></p>
