<h1> Details </h1>
    <table>
        <tr> <td> Customer ID: </td> <td> <%= onerec.customer_id %> </td> </tr>
        <tr> <td> First Name: </td> <td> <%= onerec.firstname %> </td> </tr>
        <tr> <td> Last Name: </td> <td> <%= onerec.lastname %> </td> </tr>
        <tr> <td> Email: </td> <td> <%= onerec.email %> </td> </tr>
        <tr> <td> Phone: </td> <td> <%= onerec.phone %> </td> </tr>
        <tr> <td> Address Line 1: </td> <td> <%= onerec.address1 %> </td> </tr>
        <tr> <td> Address Line 2: </td> <td> <%= onerec.address2 %> </td> </tr>
        <tr> <td> City: </td> <td> <%= onerec.city %> </td>
        </tr>
        <tr> <td> State: </td> <td> <%= onerec.state %> </td>
        </tr>
        <tr> <td> Zip: </td> <td> <%= onerec.zip %> </td> </tr>
        <tr> <td> Username: </td> <td> <%= onerec.username %> </td> </tr>
        <tr>
            <td> IsAdmin: </td>
            <td>
                <%= onerec.isadmin %>
            </td>
        </tr>
    </table>